@font-face {
    font-family: 'Morris Troy';
    src: url('../fonts/p22_morris_troy_regular-webfont.woff2') format('woff2'),
         url('../fonts/p22_morris_troy_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Quadraat Sans';
    src: url('../fonts/quadraatsansregular-webfont.woff2') format('woff2'),
         url('../fonts/quadraatsansregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Quadraat Italic';
    src: url('../fonts/quadraatsansot-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quadraat Regular';
    src: url('../fonts/quadraatsansot-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuadraatOT Italic';
    src: url('../fonts/quadraatot-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'QuadraatOT Regular';
    src: url('../fonts/quadraatot-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, p, li, div, h1, h2, h3, h4, h5, h6 {
	font-family: "Quadraat Sans";
}

.hero {
	background-color: rgba(231,230,225,1);
	background-image: url('../images/hero.jpg');
	min-height: 170px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.hero h1 {
	font-family: "Morris Troy";
	font-size: 58px;
	line-height: 64px;
	color: rgba(52,81,91,1);
	text-shadow: 1px 0 1px rgba(2,39,66,1);
	padding: 53px 15px;
	margin:0;
}

.navbar {
	background-color: rgba(52,81,91,1);
}

.navbar .nav-item a.nav-link {
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
	font-weight: 400;
	color: #FFF;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}

.navbar-nav {
    margin: 0 auto;
}

h1 {
    margin-top: 30px;
    color: rgba(112,11,4,1);
    margin-left: 15px;
    font-family: 'QuadraatOT Italic';
    font-size: 36px;
    
}

h2 {
    font-family: 'QuadraatOT Regular';
	color: rgba(112,11,4,1);
    font-size: 24px;
    text-transform: small-caps;
    letter-spacing: 1px;
}

h3 {
    color: rgba(112,11,4,1);
    font-family: 'Quadraat Sans';
    text-transform: capitalize;
    margin-top: 30px;

}

h4 {
    color: black;
    font-size: 18px;

}

p {
	font-size: 14px;
	line-height: 21px;
}

.home p {
	max-width: 360px;
	margin-bottom: 70px;
}

.max-width-900 {
	max-width: 900px;
	margin: 0 auto;
}

.element-set {
    background-color: whitesmoke;
    font-size: 14px;
}

.element h3 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.element-text {
    margin-bottom: 5px;
}

.button1, .button2, .button3, .button4 {
	width: 100%;
	max-width: 360px;
	height: 72px;
	background-color: rgba(215,192,109,1);
	color: #FFF;
	display: block;
	text-align: center;
	line-height: 72px;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.button2 {
	background-color: rgba(165,134,77,1);
}

.button3 {
	background-color: rgba(2,39,66,1);
}

.button4 {
	background-color: rgba(112,11,4,1);
}

.button1:hover, 
.button2:hover, 
.button3:hover, 
.button4:hover {
	opacity: 0.85;
	text-decoration: none;
	color: #FFF;
}

p.caption {
	text-align: center;
	color: rgba(2,39,66,1);
	font-size: 11px;
	max-width: 100%;
}

.footer-decoration {
    height: 20px;
    background-image: url("../images/footer-decoration.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

footer {
    bottom: 0;
    background-color: rgba(2,39,66,1);
    padding-top: 15px;
    padding-bottom: 30px;
}

footer a.nav-link {
    color: rgba(242,245,244,1);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search-query {
    border-radius: 0;
    border: 0;
    margin: 0 0 0 10px;
    padding: 0;
    height: 36px;
    line-height: 24px;
    padding: 9px 0 6px 15px;
}

.search-btn {
    background-color: rgba(215,192,109,1);
    color:#FFF;
    border-radius: 0;
    border: 0;
    height: 36px;
    line-height: 38px;
    padding: 0 12px;
    margin: 0;
}

#exhibit-pages a {
    color: rgba(112,11,4,1);
}

.search-btn:hover {
    opacity: 0.85;
    cursor: pointer;
}

.help-block {
    margin-bottom: 0px;
}

footer .container {
    text-align: center;
    margin: 0 auto;
}

footer .nav {
    padding-left: auto;
}

footer .form-control {
    width: auto;
}

a {
    color: #5c5c5c;
}

a:hover {
    color: rgba(112,11,4,1);
    text-decoration: none;
}

#wordmark {
    color: rgba(52,81,91,1);
    text-decoration: none;
}

#BRcontainer {
    padding-top: 50px;
}

#next-item, #previous-item {
    list-style-type: none;
}

.file-image {
    width: 100%;
}

#item-col-right {
    padding: 0;
}

#item-col-left {
    padding-right: 20px;
}

.pagination {
    background: whitesmoke;
}

.pagination * {
    margin-right: 20px;
}


#exhibit-pages {
    display: none;
}

.add_search {
    margin: 20px;
}

.btn-primary {
    margin: 20px;
}

@media (min-width: 900px) {
    .layout-file-text .exhibit-items.right {
        float: right;
        width: 25%;
        padding-left: 10%;
    
    }
}

@media (min-width: 900px) {
    .layout-file-text {
        width: 100%;
    
    }
}



@media (max-width: 991px) {
    .hero {
        min-height: 100px;
    }
    .hero h1 {
        font-size: 38px;
        line-height: 44px;
        padding: 28px 15px;
    }
}

@media (max-width: 767px) {
    .hero {
        min-height: 80px;
    }
    .hero h1 {
        font-size: 32px;
        line-height: 44px;
        padding: 18px 15px;
    }
}

@media (max-width: 574px) {
    .button1, .button2, .button3, .button4 {
        width: 100%;
        min-width: 100%;
    }
    
}


@media (max-width: 530px) {
    .hero {
        min-height: 60px;
    }
    .hero h1 {
        font-size: 24px;
        line-height: 34px;
        padding: 13px 15px;
    }
    
}










