/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
    border:0;
    margin-top:-20px;
    min-height: 200px;
    
    .ui-logo {
        
        padding-top:5em;
        padding-left:2em;
    
        img {
            max-width:150px;   
        }
    }
}
