/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Main nav */



nav.navbar.navbar-default {
    
    border:none;
    margin-bottom: 0;
    padding: 0 2em;
    border-radius:0;
    
        @include respond-to(handhelds) {
            padding: 0 1em;   
        }
    
    h1 {
        @include respond-to(handhelds) {
            font-size:1em;
        }
            
    }
    
    a {
    }   


    ul.nav.nav-pills {

        
        margin-top: 1em;
        li {
        

            a, a.dropdown-toggle {
                
                &:active, &:hover {
                    background-color: transparent;
                    border:0;
                
                }
            }
        }
        
        li.dropdown.open {
            background-color: transparent;
            
            a {
                background-color: transparent;
            }
        }
        
        
        li.active {
            a {
               background-color:transparent;
             
                 &:active, &:hover {

                }

            }
        }



            border:none;
        }
    

    ul.dropdown-menu {
        border:none;
        box-shadow: none;
        border-radius:0;
        margin-top:0;
        li a {
           
        }

    }
 }



/* Paging navs */

#exhibit-page-navigation, .pager {
    
    
    li {
        
        a {

            &:hover, &:active {
            }
            
            @include respond-to(handhelds) {
                width:100%;    
                margin-bottom:1em;
            }
        }
        
        
    }    
}

/* Footer nav */

.footer-menu {

    
    @include respond-to(handhelds) { display:none; }

    
}